# Dependencies
node_modules/
**/node_modules/

# Expo
.expo/
**/.expo/
dist/
web-build/

# Environment
.env
.env.local
.env.*.local

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# OS
.DS_Store
*.log

# Editor
.vscode/
.idea/
